<div id="page-single">

    <div id="post-search">
        <form action="/search/post/category/{{ category.slug }}" method="get">
          <input type="text" name="s" class="form-control" placeholder="O que você deseja buscar?">
          <button type="submit" class="btn btn-warning">Buscar</button>
        </form>
      </div>
    

    <h2>Category: {{ category.name }}</h2>

    <div id="posts">

        {{#each posts}}
    
        <div class="post">
          <div class="post-title"><a href="/post/{{ this.dataValues.slug }}">{{ this.dataValues.title }}</a>
            ({{this.dataValues.commentsCount }})
          </div>
          <div class="post-image">
            <a href="/post/{{ this.dataValues.slug }}"><img src="/{{ this.dataValues.cover.dataValues.path }}" width="100%"></a>
          </div>
          <div class="post-description">{{truncate this.dataValues.content }}</div>
          <div class="post-more"><a href="/post/{{ this.dataValues.slug }}">Ver mais...</a></div>
        </div>
    
        {{/each}}

        
        
    </div>
    {{{ links }}}

</div>