<div id="page-single">

    <h2>Post {{ post.dataValues.title }}</h2>
    <small>Por: {{ post.dataValues.user.dataValues.firstName }} {{ post.dataValues.user.dataValues.lastName }}</small>

    <p>{{{ post.dataValues.content }}}</p>

    <section id="comments">

      <hr>

      {{#if user}}
        <h3>Faça seu comentário</h3>
        <textarea cols="20" rows="7" class="form-control" placeholder="Faça seu comentário" id="comment"></textarea>
        <button id="btnComment" data-id="{{ post.dataValues.id }}">Comentar</button>

      {{else}}
        <p>Para comentar você precisa estar logado | <a href="/login">Logar</a></p>
      {{/if}}


      <hr>
      <h2>Comentários ({{post.dataValues.comments.length}})</h2>

      {{#each post.dataValues.comments}}

        <div class="comment {{#if_eq this.user.dataValues.isAdmin  1}} isAdmin {{/if_eq}}">
          <img src="/assets/{{ this.user.dataValues.avatar.dataValues.path }}" alt="avatar" width="40" height="30"> Comentário de: <small>{{ this.user.dataValues.firstName }} {{ this.user.dataValues.lastName }}</small>

          <p>{{ this.dataValues.comment }}</p>
        </div>

      {{/each}}


    </section>


</div>

{{#section 'scripts'}}

  <script src="/js/comment.js"></script>
{{/section}}