<div id="page-single">

    <h2>Edit User: {{ user.firstName }} {{ user.lastName }}</h2>

    <div id="edit-user">
        <div id="image">
            <h2>Change Photo</h2>
            <div id="upload-preview">
                {{#if_eq user.avatar null}}
                    Foto ainda não escolhida
                {{else}}
                    <img src="/{{ user.avatar.path }}" alt="avatar" width="50%" height="100%">
                {{/if_eq}}
                <img src="" alt="" id="preview" width="50%" height="100%">
            </div>

            <form action="">
                <input type="file" name="file" id="file">
                <button id="btn-upload">Choose</button>
            </form>

        </div>
        <div id="data">data</div>
    </div>

    <div id="edit-user-password">
        password
    </div>

</div>

{{#section 'scripts'}}
    <script src="/js/userEdit.js"></script>
{{/section}}