<section id="sidebar-right">
  <div id="menu">
      <h2>Menu</h2>
      <ul id="menu-sidebar">
          <li><a href="/">Home</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/categories">Categorias</a></li>
          <li><a href="/login">Login</a></li>
      </ul>
  </div>
  <hr>
  <div id="advertising">
      <h2>Advertisings</h2>
      <div class="advertising-single">
          <h3><a href="">Propaganda 1</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quisquam nulla officiis ratione...</p>
      </div>

      <hr>

      <div class="advertising-single">
          <h3><a href="">Propaganda 2</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quisquam nulla officiis ratione...</p>
      </div>

      <hr>

      <div class="advertising-single">
          <h3><a href="">Propaganda 3</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quisquam nulla officiis ratione...</p>
      </div>
  </div>
</section>